.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.align-items-end {
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}

.d-flex .col {
  width: 100%;
}

@media screen and (min-width: 720px) {
  .d-flex .col-md-5 {
    width: 50%;
  }
}

.doctor_list > *:not(.section-page-footer) {
  padding: 50px;
  overflow: hidden;
}

.doctor_list > *:not(.section-page-footer).even {
  background-color: #ECECEC;
}

.doctor_list > *:not(.section-page-footer) .section_wrapper {
  margin: -20px -50px;
  color: #575756;
}

.doctor_list > *:not(.section-page-footer) .section_wrapper > * {
  padding: 20px 50px;
}

.doctor_list > *:not(.section-page-footer) .section_wrapper > * .title_wrapper::after {
  content: "";
  background-color: #387E39;
  width: 37px;
  height: 4px;
  display: block;
  margin: 20px 0px;
}

.doctor_list > *:not(.section-page-footer) .section_wrapper > * .title_wrapper h2 {
  font-size: 36px;
  line-height: 36px;
  margin: 0px;
}

.doctor_list > *:not(.section-page-footer) .section_wrapper > * .education_wrapper ul > li {
  font-size: 18px;
  line-height: 30px;
}

.doctor_list > *:not(.section-page-footer) .section_wrapper > * .body_wrapper::before {
  content: "";
  background-color: #387E39;
  width: 37px;
  height: 4px;
  display: block;
  margin: 20px 0px;
}

.doctor_list > *:not(.section-page-footer) .section_wrapper > * .body_wrapper p {
  font-size: 18px;
  line-height: 30px;
}

.doctor_list > *:not(.section-page-footer) .section_wrapper > * .body_wrapper p:first-child {
  margin-top: 0px;
}

.doctor_list > *:not(.section-page-footer) .section_wrapper > * .body_wrapper p:last-child {
  margin-bottom: 0px;
}

.doctor_list > *:not(.section-page-footer) .section_wrapper > * .read_more {
  margin-top: 20px;
}

.doctor_list > *:not(.section-page-footer) .section_wrapper > * .read_more a {
  font-size: 18px;
  line-height: 18px;
  display: inline-block;
  padding: 15px 45px;
  border: 1px solid #6F6F6E;
  color: #868686;
  text-decoration: none;
}

.doctor_list > *:not(.section-page-footer) .section_wrapper > * .read_more a:hover {
  opacity: 0.8;
}

body.page-id-96 #Content {
  padding-top: 0px;
}

.article-list.treatment img {
  display: block;
}

.article-list.treatment article h3,
.article-list.treatment article h5, .article-list.treatment article a {
  color: inherit;
  margin: 0;
}

.article-list.treatment article.odd {
  color: #fff;
  border-color: #fff;
  background: #387e39;
}

.article-list.treatment article.even {
  color: #6f6f6f;
  border-color: #6f6f6f;
  background: #ececec;
  flex-direction: row-reverse;
}

.article-list.treatment article:last-child {
  color: #fff;
  border-color: #fff;
  background: #6DA56F;
}

.article-list.treatment a.more-link {
  display: block;
  border: 1px solid;
  padding: 10px 0px;
  width: 160px;
  text-align: center;
}

body.home {
  background: url("/wp-content/themes/betheme-child/images/bg-front.png") no-repeat;
}

body {
  background-color: #DDD7CE !important;
}

#Wrapper {
  background-color: transparent !important;
}

#Header_wrapper {
  background-color: transparent !important;
}

#Top_bar {
  background: #fff !important;
}
