#header-top{
  background: #3C3C3B;
  padding: 5px;
  >.wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1120px;
    margin: 0 auto;
  }
  a{
    color: #fff;
  }
}
.with_aside.aside_right {
  #Content {
    .content_wrapper {
      padding-right: 0px;
    }
  }
}
