.doctor_list {
  > *:not(.section-page-footer) {
    padding: 50px;
    overflow: hidden;
    &.even {
      background-color: #ECECEC;
    }
    .section_wrapper {
      margin: -20px -50px;
      color: #575756;

      > * {
        padding: 20px 50px;

        .title_wrapper {
          &::after {
            content: "";
            background-color: #387E39;
            width: 37px;
            height: 4px;
            display: block;
            margin: 20px 0px;
          }
          h2 {
            font-size: 36px;
            line-height: 36px;
            margin: 0px;
          }
        }

        .education_wrapper {
          ul {
            > li {
              font-size: 18px;
              line-height: 30px;
            }
          }
        }

        .body_wrapper {

          &::before {
            content: "";
            background-color: #387E39;
            width: 37px;
            height: 4px;
            display: block;
            margin: 20px 0px;
          }

          p {
            font-size: 18px;
            line-height: 30px;

            &:first-child {
              margin-top: 0px;
            }
            &:last-child {
              margin-bottom: 0px;
            }
          }
        }

        .read_more {
          margin-top: 20px;

          a {
            font-size: 18px;
            line-height: 18px;
            display: inline-block;
            padding: 15px 45px;
            border: 1px solid #6F6F6E;
            color: #868686;
            text-decoration: none;
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}
