.doctor_list {
  > *:not(.section-page-footer) {
    padding: 50px;
    overflow: hidden;
    &.even {
      background-color: #ECECEC;
    }
    .section_wrapper {
      margin: -20px -50px;
      > * {
        padding: 20px 50px;

        .title_wrapper {
          h2 {
            font-size: 36px;
          }
        }
      }
    }
  }
}
