.language-select{
  padding:0px;
  margin: 0px 10px;
  display: block;
  max-width: 105px;
  background-image: url('../images/arrow.png');
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 13px auto;
  background-position: 97% center;
  padding-right: 20px;
  box-sizing: border-box;
  select{
    margin: 0px;
    border: none;
    padding: 5px 15px;
    text-align: center;
    color: #2D6D2B;
  }
}
