// @import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);
// @import url(//fonts.googleapis.com/earlyaccess/cwtexfangsong.css);

body{
  font-family: 'cwTeXHei', sans-serif!important;
  font-weight: lighter;
  h1,h2{
    font-family: 'cwTeXFangSong', serif!important;
    font-weight: 400!important;
  }
}
